/* ========== reset padrão ============= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.center2{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.center2 h1{
	text-align: center;
	font-size: 17px;
	margin: 10px 20px;
	padding: 0 2%;
    color: #124265;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200,200,200);
}

.logo{
    color: #16507b;
}

.logo h2{
    font-weight: normal;
    font-size: 24px;
}

.logo h4{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: #124265;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: white;
    background-color: #007bff;
    padding: 5px 5px;
    border-radius: 20px;
}


/* =================== SEÇÃO MAIN =========================== */

section.main{
    background-image: url('../img/notebook1.jpg');
    /*min-height: 500px;  somente no inicio para testar*/
    padding: 70px 0;
    background-position: center;
    background-size: cover;  /* responsivo */
    background-repeat: no-repeat;
    background-attachment: fixed;  /* efeito Paralax  */
}

.main-cta{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.main-cta h2{
    color: #16507b;
    font-size: 40px;
}

.main-cta p{
    color: #16507b;
    font-size: 19px;
    margin: 30px 0;
}

/*  ===========TEXTO ANIMADO =======  */
.linha{
    position: relative;
    top: 5%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #353434;
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translate(-2%);
}

/*  configurando a animação  */

.efeito-digitacao{
    animation: maquinaDeEscrever 4s steps(40) 1s normal both,
    cursorDeTexto 500ms steps(40) infinite normal;
    animation-iteration-count: infinite;

     /* Adicione caso queira que fique repetindo:
        animation-iteration-count: infinite;
        */  
}

@keyframes maquinaDeEscrever{
    from {
        width: 0;
    }
    to {
        /* Aumente esse valor conforme a quantidade de caracteres
        do texto para todo ele aparecer no efeito  */
        width: 12em;
    }
}

@keyframes cursorDeTexto {
    from {
        border-right-color: #353434;
    }
    to {
        border-right-color: transparent;
    }
}
/*  ======FIM =======  */


/*======================SLIDER=========*/

.slider{
	position: relative;
	width: 100%;
	max-width: 1100px;
	height: 450px;
	max-height: 450px;
	background-color: transparent;
	margin: 0 auto;
}

.slider img{
	display: none;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

.bullets-nav{
	position: absolute;
	left: 50%;
	bottom:10px;
	width: 100%;
	z-index: 3;
	text-align: center;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}

.bullets-nav span{
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 8px;
	background-color: #ccc;
	cursor: pointer;
	margin:0 20px;
}
/* =====FIM DO SLIDER =====  */


/* =============== página PROJETOS =================  */

/* ==== texto animado ===== */
h2 .text {
    width: 600px;
    font-size: 190px;
    line-height: 1.86;
    letter-spacing: -0.02em;
    color: #0c3f8a;
}

.mask {
    height: 156px;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
}

.mask span {    /*  aqui setei a distância  */
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 170px;
    padding-bottom: 120px;
    left: 320px;

    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #1b1661 50%, #3651d8);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #1b1661 50%, #3651d8);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #1b1661 50%, #3651d8);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #1b1661 50%, #3651d8);
}

/* ==== fim texto animado =====  */

.center .projetos{
    display: flex;
    flex-wrap: wrap;  /* responsivo   */
    padding: 30px 0;
}

.proj-single{
    border-radius: 10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.proj-single video{
    max-width: 100%;
}

.proj-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 16px;
}

.proj-single p{
    color: #124265;
    font-size: 14px;
    line-height: 25px;
}

/* ===================  SERVIÇOS ===================== */

.diferenciais{
    display: flex;
    flex-wrap: wrap;  /* responsivo   */
    padding: 30px 0;
}

.dif-single{
    border-radius: 10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 20px 20px;
}

.dif-single img{
    color: #124265;
    width: 50px;
    height: 50px;
}

.dif-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 16px;
}

.dif-single p{
    color: #124265;
    font-size: 14px;
    line-height: 25px;
}

/*  ===================== SEÇÃO SOBRE  =================    */

section.sobre{
    padding: 40px 0;
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}

.chamada-sobre img{
    width: 100px;
    height: auto;
    border-radius: 50px;
}

.chamada-sobre h2{
    color: #124265;
}

.chamada-sobre p{
    font-size: 16px;
    color: #16507b;
    margin-bottom: 30px;
}

.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p{
    width: 48%;
    margin-right: 2%;
    color: #16507b;
    text-align: left;
    padding-bottom: 20px;
}

section.skils{
    width: 100%;
}

section.skils .skils-img{
    width: 100%;                      
    padding: 20px 20px;
    text-align: center;
}

section.conquistas{
    background-color: #f8fbfe;
    padding: 30px 0;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}

.conquista-single h2{
    font-size: 30px;
}

/*  preparando o menu mobile para o JS   */
.menu-itens{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid blue;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-itens.show{
    opacity: 1;
}

.menu-itens.hide{
    opacity: 0;
}

.menu-itens a{
    display: block;
    text-decoration: none;
    color: blue;
}

/*  ================ SEÇÃO SOBRE 2 ==============   */
section.sobre2{
    padding: 40px 0;
}

.sobre2 img{
    width: 50%;
}

.sobre2-img img{
    max-width: 100%;
}

.sobre2-conteudo{
    width: 50%;
    padding: 0 30px;
}

.sobre2-conteudo h2{
    color: #124265;
    margin-bottom: 20px;
}

.sobre2-conteudo p{
    color: #16507b;
    font-size: 16px;
    margin-bottom: 14px;
    text-align: justify;
}

/*==================ícone circular============*/
/*====não esqueça de setar META fontawesome===*/

.circle{
	position: absolute;
	left: 50%;
	margin-top:-20px;
	transform: translateX(-50%);
   	width: 70px;
  	height: 70px;
  	text-align: center;
  	line-height: 70px;
  	border-radius: 50%;
  	background-color: #124265;
  	box-shadow: 0 10px 25px 0 rgba(37, 15, 139, 0.1);
}

.circle i{
	position: relative;
	top: 5px;
	font-size: 30px;
	color:#fff;
    padding-top: 20px;
}


/* ====setando tamanho das imagens do slider===*/

section.clientes-slider{
	padding: 60px 0;
}

section.clientes-slider img{
	max-width: 100%;
}

/*===================SLICK SLIDER=================*/

.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top:10px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #0c3f8a;
	color: #0c3f8a;
}

.slick-slide:focus { outline: none; }


/* ================== SEÇÃO DE CONTATO ==================== */

section.contato{
	padding: 80px 2% 2% 2%;
	background-color: #4da2df;
    text-align: center;
    color: white;
}

section.contato h2{
    color: #124265;
}

section.contato p{
	font-size: 19px;
	padding: 10px 0;
	text-align: center;
    color: #16507b
}

section.contato img{
    padding: 20px 0;
}

section.contato form{
	max-width: 600px;
	margin: 30px auto;
}

section.contato .input-wraper{
	/*float: left;*/
	padding: 10px;
	margin-top: 7px;
}

section.contato input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 60px;
	font-size: 16px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato textarea{
	font-size: 16px;
	width: 100%;
	border: 1px solid #ccc;
	height: 140px;
	padding: 8px;
	resize: none;
}

section.contato form .input-wraper:nth-of-type(4){
	text-align: center;
}

section.contato input[type=submit]{
	background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    border: 0;
    transition: 0.4s;
    cursor: pointer;
}

section.contato input[type=submit]:hover{
    background-color: #124265;
    color: white;
}

.w100{
	width: 100%;
}


/*  ============= BOTÃO VOLTAR AO TOPO  =========== */
#btntop{
	position: fixed;
	bottom: 40px;
	right: 30px;
	height: 50px;
	width: 50px;
	color: #ccc;
	background: #124265;
	border: none;
	border-radius: 50vh;
	display: none;
	scroll-behavior: smooth;
    cursor: pointer;
}

#btntop:hover{
    background: #1e5a88;
}

/*==================  SEÇÃO FOOTER  ==============*/
footer{
	margin-top: 5px;
    margin-bottom: 5px;
	padding: 20px 2%;
	background: #4da2df;
    display: flex;
    justify-content: space-between;
}

footer p{
    display: flex;
	color: #124265;
	font-size: 14px;
	font-style: italic;
}

.code-trust p{
	align-items: center;
}

.social-icons{
    width: 20px;
	margin: 0 8px 0 8px; 
}

.social-icons:hover{
	background-color: transparent;
    transform: scale(1.2,1.2);
}


/*  ==============  conteúdo responsivo ===========  */

@media screen and (max-width: 768px){
    
    .logo h2{
        font-size: 20px;
    }
    .slider{
        display: none;
    }
    .mask span {
        left: 80px;
    }
    .proj-single{
        width: 100%;
        margin-bottom: 20px;
    }
    .dif-single{
        width: 100%;
        margin-bottom: 20px;
    }
    .conteudo-sobre p{
        width: 100%;
        margin: 10px 10px;
    }
    .sobre2-img{
        display: none;
    }
    .sobre2-conteudo{
        width: 100%;
        margin: 10px 10px;
    }
    .menu{
        display: none;
    }
    .logo{
        width: 50%;
    }
    .menu-mobile{
        width: 50%;
        display: block;
        text-align: right;
    }
    .menu-mobile img{
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-top: 10px;
    }
    .skils img{
        width: 100%;
    }
    .sobre2-img{
        width: 50%;
    }
    .sobre2-conteudo h2{
	font-size: 12pt;
    }
    .conquista-single p{
        font-size: 11pt;
    }
    .depoimentos-chamada h2{
        width: 500px;
    }
    .depoimentos-chamada p{
        width: 450px;
    }
    section.contato img{
        width: 60%;
    }
    section.contato p{
    font-size: 15px;
    }
    footer{
        max-width: 768px;
    }
    .linha{
        transform: translate(-1%);
    }
    .main-cta h2{
	font-size: 30px;
    }
}