/* ========== reset padrão ============= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.center2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.center2 h1 {
    text-align: center;
    font-size: 1.7rem;
    margin: 10px 20px;
    padding: 0 2%;
    color: #fff;
}

header {
    background-color: #124265;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo9 {
    color: #FFF;
    width: 550px;
}

.logo9 a {
    text-decoration: none;
    color: white;
}

.logo9 a:hover {
    color: gold;
}

.logo9 h2 {
    font-weight: normal;
    font-size: 24px;
}

.logo9 h4 {
    font-weight: normal;
    font-size: 20px;
}

/* ========== navbar ==========   */

.navbar-nav a {
    color: white;

}

.navbar-nav a:hover {
    color: #124265;
    background: white;
    border-radius: 25px;
    transition: all 0.4s;
}


/* =================== SEÇÃO MAIN =========================== */

section.main {
    background-image: url('../img/notebook1.png');
    /*min-height: 500px;  somente no inicio para testar*/
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    /* responsivo */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* efeito Paralax  */
}

.main-cta {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.main-cta h2 {
    color: #FFF;
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.main-cta p {
    color: #FFF;
    font-size: 19px;
    margin: 30px 0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/*  ===========TEXTO ANIMADO =======  */
.linha {
    position: relative;
    top: 5%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #353434;
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translate(-2%);
}

/*  configurando a animação  */

.efeito-digitacao {
    animation: maquinaDeEscrever 4s steps(40) 1s normal both,
        cursorDeTexto 500ms steps(40) infinite normal;
    animation-iteration-count: infinite;

    /* Adicione caso queira que fique repetindo:
        animation-iteration-count: infinite;
        */
}

@keyframes maquinaDeEscrever {
    from {
        width: 0;
    }

    to {
        /* Aumente esse valor conforme a quantidade de caracteres
        do texto para todo ele aparecer no efeito  */
        width: 12em;
    }
}

@keyframes cursorDeTexto {
    from {
        border-right-color: #FFF;
    }

    to {
        border-right-color: transparent;
    }
}

/*  ======FIM =======  */


/*======================SLIDER=========*/

.slider {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 450px;
    max-height: 450px;
    background-color: transparent;
    margin: 0 auto;
}

.slider img {
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.bullets-nav {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 100%;
    z-index: 3;
    text-align: center;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.bullets-nav span {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 8px;
    background-color: #ccc;
    cursor: pointer;
    margin: 0 20px;
}

/* =====FIM DO SLIDER =====  */


/* =============== página PROJETOS =================  */

h2 #title {
    width: 600px;
    font-size: 130px;
    line-height: 1.86;
    letter-spacing: -0.02em;
    color: white;
}


.center .projetos {
    display: flex;
    flex-wrap: wrap;
    /* responsivo   */
    padding: 30px 0;
}

.proj-single {
    border-radius: 10px;
    background-color: #124265;
    width: 23%;
    margin-right: 2%;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.proj-single video {
    max-width: 100%;
}

.proj-single img {
    max-width: 100%;
}

.proj-single h2 {
    color: #FFF;
    margin: 10px 0;
    font-size: 16px;
}

.proj-single p {
    color: #FFF;
    font-size: 14px;
    line-height: 25px;
}

/* ===================  SERVIÇOS ===================== */

#services {
    padding: 50px 50px;
}

.diferenciais {
    display: flex;
    flex-wrap: wrap;
    /* responsivo   */
    padding: 30px 0;
}

.dif-single {
    border-radius: 10px;
    background-color: #124265;
    width: 23%;
    margin-right: 2%;
    padding: 20px 20px;
}

.dif-single i {
    color: white;
    font-size: 3rem;
}

.dif-single h2 {
    color: #FFF;
    margin: 10px 0;
    font-size: 16px;
}

.dif-single p {
    color: #FFF;
    font-size: 14px;
    line-height: 25px;
}

/*  ===================== SEÇÃO SOBRE  =================    */

section.sobre {
    padding: 40px 0;
    background-color: #124265;
}

.chamada-sobre {
    width: 100%;
    text-align: center;
}

.chamada-sobre img {
    width: 190px;
    height: auto;
    border-radius: 50%;
}

.chamada-sobre img::before {
    content: "";
    inset: -15px;
    border: 6px solid #131313;
    border-top-color: #fff;
    border-bottom-color: #ababab;
    z-index: -1;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

.chamada-sobre h2 {
    color: #FFF;
}

.chamada-sobre p {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 30px;
}

.conteudo-sobre {
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p {
    width: 48%;
    margin-right: 2%;
    color: #FFF;
    text-align: left;
    padding-bottom: 5px;
}

section.skils {
    width: 100%;
}

section.skils .skils-img {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
}

.slider-container {
    background-color: #fff;
    border-radius: 15px;
}

section.conquistas {
    background-color: #124265;
    padding: 30px 0;
}

.conquista-single {
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}

.conquista-single h2 {
    font-size: 30px;
    color: white;
}

.conquista-single p {
    color: white;
}


/*  ================ SEÇÃO SOBRE 2 ==============   */
section.sobre2 {
    padding: 40px 0;
    background-color: #124265;
}

.sobre2 img {
    width: 50%;
}

.sobre2-img img {
    max-width: 100%;
}

.sobre2-conteudo {
    width: 50%;
    padding: 0 30px;
}

.sobre2-conteudo h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sobre2-conteudo p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*==================ícone circular============*/
/*====não esqueça de setar META fontawesome===*/

.circle {
    position: absolute;
    left: 50%;
    margin-top: -20px;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #124265;
    box-shadow: 0 10px 25px 0 rgba(37, 15, 139, 0.1);
}

.circle i {
    position: relative;
    top: -15px;
    font-size: 2rem;
    color: #fff;
    padding-top: 20px;
}


/* ====setando tamanho das imagens do slider===*/

section.clientes-slider {
    padding: 60px 0;
    background-color: #124265;
}

section.clientes-slider img {
    max-width: 100%;
}

/*===================SLICK SLIDER=================*/

.slick-dotted ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.slick-dotted li {
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus {
    outline: 0;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button {
    background: #0c3f8a;
    color: #0c3f8a;
}

.slick-slide:focus {
    outline: none;
}


/* ================== SEÇÃO DE CONTATO ==================== */

section.contato {
    padding: 80px 2% 2% 2%;
    background-color: #124265;
    text-align: center;
    color: white;
}

section.contato h2 {
    color: #fff;
}

section.contato p {
    font-size: 19px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

section.contato img {
    padding: 20px 0;
}

section.contato form {
    max-width: 600px;
    margin: 30px auto;
}

section.contato .input-wraper {
    /*float: left;*/
    padding: 10px;
    margin-top: 7px;
}

section.contato input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    height: 60px;
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
    border-radius: 8px;
}

section.contato textarea {
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    height: 140px;
    padding: 8px;
    resize: none;
    border-radius: 8px;
}

section.contato form .input-wraper:nth-of-type(4) {
    text-align: center;
}

section.contato input[type=submit] {
    background-color: #0b1720;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    border: 0;
    transition: 0.4s;
    cursor: pointer;
}

section.contato input[type=submit]:hover {
    background-color: #fff;
    color: #124265;
}

.w100 {
    width: 100%;
}


/*  ============= BOTÃO VOLTAR AO TOPO  =========== */
#btntop9 {
    position: fixed;
    bottom: 55px;
    right: 80px;
    height: 50px;
    width: 50px;
    color: #0b1720;
    background: white;
    border: none;
    border-radius: 50vh;
    display: none;
    scroll-behavior: smooth;
    cursor: pointer;
    font-size: 1.5rem;
}

#btntop9:hover {
    background: gold;
    color: #124265;
    transition: all 0.4s;
}

/* =======================Botão Whatsapp ========= */

.zap {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 200px;
    right: 74px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.zap i {
    margin-top: 16px;
}


/*==================  SEÇÃO FOOTER  ==============*/

footer {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 20px 2%;
    background: #124265;
    display: flex;
    justify-content: space-between;
}


footer p {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}

.code-trust p {
    align-items: center;
}

.social-icons {
    display: inline-block;
    margin-left: 20px;
}

.social-icons i {
    color: white;
    font-size: 1.3rem;
}

.social-icons i:hover {
    color: gold;
    background-color: transparent;
    transform: scale(1.2, 1.2);
}


/*  ==============  conteúdo responsivo ===========  */

@media screen and (max-width: 768px) {

    .logo9 {
        max-width: 150px;
        text-align: center;
    }

    .logo9 h2 {
        font-size: 15px;
    }

    .logo9 h4 {
        font-size: 10px;
    }

    button .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .slider {
        display: none;
    }

    .mask span {
        left: 80px;
    }

    .proj-single {
        width: 100%;
        margin-bottom: 20px;
    }

    .dif-single {
        width: 100%;
        margin-bottom: 20px;
    }

    .conteudo-sobre p {
        width: 100%;
        margin: 10px 10px;
    }

    .sobre2-img {
        display: none;
    }

    .sobre2-conteudo {
        width: 100%;
        margin: 10px 10px;
    }

    .skils img {
        width: 100%;
    }

    .sobre2-img {
        width: 50%;
    }

    .sobre2-conteudo h2 {
        font-size: 12pt;
    }

    .conquista-single p {
        font-size: 11pt;
    }

    .depoimentos-chamada h2 {
        width: 500px;
    }

    .depoimentos-chamada p {
        width: 450px;
    }

    section.contato img {
        width: 60%;
    }

    section.contato p {
        font-size: 15px;
    }

    #btntop9 {
        bottom: 120px;
        right: 15px;
    }

    footer {
        max-width: 768px;
    }

    .linha {
        transform: translate(-1%);
    }

    .main-cta h2 {
        font-size: 30px;
    }

    .zap {
        bottom: 200px;
        right: 10px;
    }
}